--model_name=mobilenetv2
--dataset_name=caltech
--tag=(tag:serengeti_weights)
--model_type=normal
--num_classes=1
--image_size=256
--seed=42
--num_epochs=50
--patience=15
--batch_size=20
--train_filename=/home/luiz/experiments/.whitelist/datasets/caltech/no-siamese/short/train.csv
--val_filename=/home/luiz/experiments/.whitelist/datasets/caltech/no-siamese/short/val.csv
--test_filename=/home/luiz/experiments/.whitelist/datasets/caltech/no-siamese/short/test.csv
--data_dir_mask=/data/luiz/dataset/siam_nestedunet-output_caltech_(deepmec)/
--images_path=/data/luiz/dataset/caltech_images/
--images_path_ssd=/ssd/luiz/dataset/caltech_images/
--checkpoint_path=/data/luiz/dataset/checkpoints/classification/
--input_scale_mode=tf_mode